/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("assets/Font/Montserrat/Montserrat-Regular.woff2") format("woff2"),
        url("assets/Font/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/Font/Montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("assets/Font/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Poppins */
@font-face {
    font-family: "Poppins";
    src: url("assets/Font/Poppins/Poppins-Regular.woff2") format("woff2"),
        url("assets/Font/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("assets/Font/Poppins/Poppins-SemiBold.woff2") format("woff2"),
        url("assets/Font/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Open Sans */
@font-face {
    font-family: "Open Sans";
    src: url("assets/Font/OpenSans/OpenSans-Regular.woff2") format("woff2"),
        url("assets/Font/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("assets/Font/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
        url("assets/Font/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Raleway (accent créatif italic) */
@font-face {
    font-family: "Raleway";
    src: url("assets/Font/Raleway/Raleway-Italic.woff2") format("woff2"),
        url("assets/Font/Raleway/Raleway-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
