/* ===========================
   MONT SERRAT (VARIABLE FONT)
   =========================== */

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/Font/Montserrat/Montserrat-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/Font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* ===========================
   POPPINS (FICHIERS CLASSIQUES)
   =========================== */

@font-face {
    font-family: "Poppins";
    src: url("../../assets/Font/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../../assets/Font/Poppins/Poppins-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* ===========================
   OPEN SANS (VARIABLE FONT)
   =========================== */

@font-face {
    font-family: "Open Sans";
    src: url("../../assets/Font/Open_Sans/OpenSans-VariableFont_wdth-wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../assets/Font/Open_Sans/OpenSans-Italic-VariableFont_wdth-wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* ===========================
   RALEWAY (VARIABLE FONT)
   =========================== */

@font-face {
    font-family: "Raleway";
    src: url("../../assets/Font/Raleway/Raleway-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/Font/Raleway/Raleway-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
