@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "sass:color";

#backToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    display: none; // caché au début
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    &:hover {
        background-color: #333;
        transform: translateY(-3px);
    }
}
