@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "../abstracts/placeholders" as *;

.demo-card {
    @extend %card-style; //  style premium de base

    // Animations combinées
    @include hover-zoom(1.08); // zoom léger
    @include hover-glow($color-highlight); // glow doré
    @include hover-slide-up(-8px); // petit décalage vers le haut

    h3 {
        color: $color-highlight;
        margin-bottom: $spacing-sm;
    }

    p {
        color: $color-text;
        font-size: 1rem;
    }
}
