@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "../abstracts/placeholders" as *;

.container {
    @extend %card-style;
    display: flex;
    flex-direction: column; // mobile : empilé
    gap: $spacing-md;
    padding: $spacing-md;
    max-width: 1200px;
    margin: $spacing-xl auto;

    @include respond-desktop {
        flex-direction: row; // desktop : côte à côte
        align-items: center;
        gap: $spacing-xl;
    }
}

// Variante inversée
.container--reverse {
    @extend .container;

    @include respond-desktop {
        flex-direction: row-reverse; // texte à gauche, image à droite
    }
}

// Bloc texte
.container__text {
    flex: 1;
    background: $color-background;

    padding: $spacing-md;
    border-radius: $radius-md;
    box-shadow: $shadow-default;

    ul {
        list-style: disc;
        padding-left: $spacing-md;
        line-height: 1.6;

        li {
            color: $color-text; // texte neutre pour les listes
        }
    }
}

// Bloc image
.container__image {
    flex: 1;

    img {
        width: 100%;
        border-radius: $radius-md;
        box-shadow: $shadow-default;
        object-fit: cover;
    }
}
